{% extends "base.html" %}

{% block title %}Communities{% endblock %}

{% block body %}

<h3 style="margin-left:40px;">Your Communities</h3>
<ul style="margin-left:40px;">
    {% for community in user_communities %}
        <li>
            {{ community }}
            <form method="post" action="{% url 'sn:leave_community' %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="community_id" value="{{ community.id }}">
                <button type="submit" class="btn btn-danger btn-sm">Leave</button>
            </form>
        </li>
    {% empty %}
        <li>You are not a member of any communities.</li>
    {% endfor %}
</ul>

<h3 style="margin-left:40px;">Communities You Can Join</h3>
<ul style="margin-left:40px;">
    {% for community in eligible_communities %}
        <li>
            {{ community }}
            <form method="post" action="{% url 'sn:join_community' %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="community_id" value="{{ community.id }}">
                <button type="submit" class="btn btn-success btn-sm">Join</button>
            </form>
        </li>
    {% empty %}
        <li>No communities available to join.</li>
    {% endfor %}
</ul>

{% endblock %}
