{% extends "base.html" %}

{% block title %}Similar Users{% endblock %}

{% block body %}
<h2 style="margin-left:40px;">Users Similar To You</h2>
<ul style="margin-left:40px;">
    {% for user in similar_users %}
        <li>
            <a href="/fame/html/fame?userid={{ user.id }}">
                {{ user.first_name }} {{ user.last_name }}
            </a>
            - Similarity:
            {% if user.similarity_percent >= 50 %}
                <span style="color:rgb(24, 179, 24);">{{ user.similarity_percent|floatformat:2 }}%</span>
            {% elif user.similarity_percent >= 20 %}
                <span style="color:rgb(232, 228, 13);">{{ user.similarity_percent|floatformat:2 }}%</span>
            {% else %}
                <span style="color:red;">{{ user.similarity_percent|floatformat:2 }}%</span>
            {% endif %}
        </li>
    {% empty %}
        <li>No similar users found.</li>
    {% endfor %}
</ul>
{% endblock %}